<?xml version="1.0" encoding="{{charset}}"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={{charset}}" />
<title>拍手送信完了 - NP_Clap</title>
</head>
<body>
<center>
<font size="2">拍手を送信することができませんでした。<br />
しばらくたってからまたお試しください。</font><br />
<br />
<a href="{{returnurl}}">元のページに戻る</a>
<br />

<br />
<font size="2">Powered by <a href="http://blog.cles.jp/np_cles/category/31/subcatid/13" target="_blank">NP_Clap</a></font><br />
</center>
</body></html>
