<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={{charset}}" />
<title>NP_Paint - 更新完了</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
</head>
<body>
ファイルの更新が完了しました<br />
<input type="button" value="閉じる" onclick="window.close()" />
<hr color="#222222" noshade style="clear: both;" />
<div>NP_Paint by <a href="http://blog.cles.jp">cles</a></div>

</body>
</html>