<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("jquery", "1.4");
</script>

<!-- Load the queue CSS -->
<style type="text/css">@import url({{plugindirurl}}css/plupload.queue.css);</style>

<!-- Thirdparty intialization scripts, needed for the Google Gears and BrowserPlus runtimes -->
<script type="text/javascript" src="{{plugindirurl}}js/gears_init.js"></script>
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>

<!-- Load plupload core and all of it's runtimes and finally the jQuery queue widget -->
<script type="text/javascript" src="{{plugindirurl}}js/plupload.full.min.js"></script>
<script type="text/javascript" src="{{plugindirurl}}js/jquery.plupload.queue.min.js"></script>

<script>
$(function() {
	function getUploaderSettings(){
		return {
	      		// General settings
        		runtimes: '{{runtimes|}}',
        		url: '{{plugindirurl}}upload.php?action=image_upload' + '&collection=' + $('#plugin_draganddropuploader').val(),
	        	multipart: true,

	        	flash_swf_url: '{{plugindirurl}}js/plupload.flash.swf',
			silverlight_xap_url: '{{plugindirurl}}js/plupload.silverlight.xap',

       			// Specify what files to browse for
	    		filters :[
                		{title : "Image files", extensions : "jpg,gif,png"},
        		]
		};
	}

	function setup(){
		$("#uploader").pluploadQueue(getUploaderSettings());
	}

	setup();

	$("#plugin_draganddropuploader").change(function () {
		setup();
	});

	$("#uploader_reset").click(function(e) {
		setup();
		e.preventDefault();
	});
});
</script>
