.highlight_0 {
  color: #000;
  background-color: rgb(255, 255, 102);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_1 {
  color: #000;
  background-color: rgb(160, 255, 255);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_2 {
  color: #000;
  background-color: rgb(153, 255, 153);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_3 {
  color: #000;
  background-color: rgb(255, 153, 153);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}
.highlight_4 {
  color: #000;
  background-color: rgb(255, 102, 255);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_5 {
  color: #fff;
  background-color: rgb(136, 0, 0);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_6 {
  color: #fff;
  background-color: rgb(0, 170, 0);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_7 {
  color: #fff;
  background-color: rgb(136, 104, 0);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_8 {
  color: #fff;
  background-color: rgb(0, 70, 153);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}

.highlight_9 {
  color: #fff;
  background-color: rgb(153, 0, 153);
  line-height : 1.2em;
  font-size : 1.1em;
  font-style : italic;
  font-weight : bold;
}
