input {
        color:#222222;
        line-height:133%;
        font-size:100%;
        min-height:1.33em;
        background-color:#ffffff;
        border:1px solid #222222;
        vertical-align:text-bottom;
}