<h2>NP_Clap menu</h2>

<ul>
	
<li><img border="0" src="{{plugindirurl}}silk/application_view_list.png" />
	<a href="{{indexurl}}?action=overview&amp;ticket={{ticket|}}">アイテムごとのClap数一覧</a>
</li>
<li>
	<img border="0" src="{{plugindirurl}}silk/chart_line.png" />
	<a href="{{indexurl}}?action=chart&amp;ticket={{ticket|}}">グラフ表示</a>
</li>
<li><img border="0" src="{{plugindirurl}}silk/comments.png" />
	<a href="{{indexurl}}?action=messagelist&amp;ticket={{ticket|}}">メッセージ一覧</a>
</li>
<li><img border="0" src="{{plugindirurl}}silk/plugin_edit.png" />
	<a href="{{optionurl}}">プラグインオプション設定</a>
</li>
<li><img border="0" src="{{plugindirurl}}silk/application_edit.png" />
	<a href="{{indexurl}}?action=thanksmsg&amp;ticket={{ticket|}}">Thanksページコンテンツ一覧</a>
</li>
<li><img border="0" src="{{plugindirurl}}silk/database_refresh.png" />
	<a href="{{indexurl}}?action=convert&amp;ticket={{ticket|}}">karmaからの移行</a>
</li>
<li><img border="0" src="{{plugindirurl}}silk/database_delete.png" />
	<a href="{{indexurl}}?action=reset&amp;ticket={{ticket|}}">蓄積データのリセット</a>
</li>
<li><img border="0" src="{{plugindirurl}}silk/bug_link.png" />
	<a href="{{indexurl}}?action=report"><span style="font-weight:bold; color:red">動作確認報告</span></a>
</li>
	
</ul>