<span style="color: red;">{{message}}</span>
<h2>Here you can generate .htaccess snippets</h2>
<div class="pbform" style="margin-left:10px;">
	<form action="{{indexurl}}" method="post">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<button type="submit" label="ip" name="type" value="Generate blocked IP's">Generate blocked IP's</button>
		<button type="submit" label="ip" name="type" value="Generate rewrite rules">Generate rewrite rules</button><br />
		<br />
		<textarea class="pbltextinput" cols="60" rows="15" name="snippet" >{{snippet}}</textarea><br />
		<br />
		<button type="submit" label="ip" name="type" value="Reset blocked IP's">Reset blocked IP's</button>
		<button type="submit" label="ip" name="type" value="Reset rewrite rules">Reset rewrite rules</button>
	</form>
</div>

